* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: 0;
    transition: all 0.5s ease;
}

body {
    font-family: sans-serif;
}

h1 {
    text-align: center;
    color: white;
    margin: 1rem;
}

a {
    text-decoration: none;
    color: #fff;
}

body {
    background-image: linear-gradient( rgb(14, 50, 117), rgb(26, 102, 244), rgb(128, 171, 241), rgb(61, 237, 219));
}

.container {
    height: 100vh;
    width: 100vw;
    display: grid;
    place-items: center;
}

.calculator {
    position: relative;
    height: auto;
    width: auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 30px #000;
}

#display {
    margin: 0 50px;
    height: 150px;
    width: auto;
    max-width: 270px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    font-size: 30px;
    margin-bottom: 20px;
    overflow-x: scroll;
}

#display::-webkit-scrollbar {
    display: block;
    height: 3px;
}

button {
    height: 60px;
    width: 60px;
    border: 0;
    border-radius: 50px;
    margin: 10px;
    font-size: 20px;
    cursor: pointer;
    transition: all 200ms ease;
}

button:hover {
    transform: scale(1.1);
}

button#equal {
    height: 130px;
}

.calculator.dark {
    background-color: #071115;
}

.calculator.dark #display {
    color: #f8fafb;
}

.calculator.dark button#clear {
    background-color: #2d191e;
    color: #fb3845;
}

.calculator.dark button.btn-number {
    background-color: #1b2f38;
    color: #f8fafb;
}

.calculator.dark button.btn-operator {
    background-color: #2e1f39;
    color: #f36eee;
}

.calculator.dark button.btn-equal {
    background-color: #223323;
    color: #ffffff;
}